more-itertools==8.0.2
pandas==1.1.5
pyro-ppl==1.5.1
pytorch_lightning==1.1.1
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cpu
torchvision==0.8.2+cpu
transformers==4.0.1
tqdm==4.50.2
